.content h2 {
    padding-bottom: 3px;
    border-bottom: 2px dashed #00aaa1;
}

.content h3 {
    border-bottom: 2px dotted #009688;
}

.content h4 {
    border-bottom: 1px dotted #5C8D89;
}

.content h5 {
    border-bottom: 1px dotted #7A9C99;
}

.content h6 {
    border-bottom: 1px dotted #A2B7B5;
}

/* tip 样式 */
.content .summary-box {
    padding: 1em;
    margin: 2em 0;
    background: #f4fcff;
    border-top: solid 4px #00aaa1;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .22);
}

.content .title-box {
    position: relative;
    margin: 2em 0;
    padding: 1em;
    background-color: #f4fcff;
    border: solid 2px #00aaa1;
}

/* box 底部过长 */
.content .title-box * {
    margin-bottom: 10px !important;
}


.content .box-title {
    position: absolute;
    display: inline-block;
    top: -25px;
    left: -2px;
    padding: 0 .5em;
    height: 23px;
    line-height: 27px;
    background: #00aaa1;
    color: #fff;
    font-weight: 700;
    border-radius: 5px 5px 0 0;
}

.content .color-white {
    background-color: white;
}

.content .color-yellow {
    background-color: yellow;
}

/* 移除小手 */
.content .no-seq ul li::before {
    position: absolute;
    content: "";
    /*font-family: themify;*/
    font-size: 14px;
    left: 0;
    top: 1px;
    color: #00aaa1;
    transition: .3s ease;
}

/* 另一种样式 */
/*.content .title-box {*/
/*    position: relative;*/
/*    padding: 20px 10px 10px; !* 上面留位置给标题 *!*/
/*    border: 1px solid #00aaa1;*/
/*    border-radius: 6px;*/
/*    box-shadow: 0 2px 4px rgba(0,0,0,0.1);*/
/*}*/

/*.content .box-title {*/
/*    position: absolute;*/
/*    top: -12px; !* 根据实际调节 *!*/
/*    left: 10px;*/
/*    padding: 0 8px;*/
/*    background: #00aaa1;*/
/*    color: #fff;*/
/*    font-weight: 700;*/
/*    border-radius: 5px 5px 0 0;*/
/*    line-height: 24px;*/
/*    height: 24px;*/
/*}*/

/*.content .no-seq ul {*/
/*    list-style: none;*/
/*    padding-left: 0;*/
/*    margin: 0;*/
/*}*/

/*.content .title-box ul li {*/
/*    margin-bottom: 6px;*/
/*}*/


/* 目录 */
.tableofcontents-box {
    position: fixed;
    top: 290px;
    right: 20px;
    width: 350px;
    max-height: 56vh;
    overflow-y: auto;
    background: #f9f9f9;
    padding: 1em 1em .1em;
    margin: 50px 50px 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .22);
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 0.9em;
}

.content .tableofcontents-box {
    padding: 1em 1em .1em;
    margin: -10px 0 0;
    background: #f2f2f2;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .22);
}

/* 清除默认列表样式 */
.tableofcontents-box ul {
    list-style: none;
    counter-reset: level1;
    padding-left: 0;
    margin-left: 0;
}

/* 一级目录 */
.tableofcontents-box > nav > ul > li {
    counter-increment: level1;
    position: relative;
    margin-left: 1em;
    padding-left: 0.3em;
}

.tableofcontents-box > nav > ul > li::before {
    content: counter(level1) ". ";
    position: absolute;
    left: -1.5em;
    padding-left: 0.3em;
    top: -1px;
}

/* 二级目录 */
.tableofcontents-box ul ul {
    counter-reset: level2;
    margin-left: 2em;
}

.tableofcontents-box ul ul > li {
    counter-increment: level2;
    position: relative;
    margin-left: 1em;
    padding-left: 0.3em;
}

.tableofcontents-box ul ul > li::before {
    content: counter(level1) "." counter(level2) " ";
    position: absolute;
    left: -2em;
    top: -0.4px;
}

/* 三级目录 */
.tableofcontents-box ul ul ul {
    counter-reset: level3;
    margin-left: 1em;
    padding-left: 0.3em;
}

.tableofcontents-box ul ul ul > li {
    counter-increment: level3;
    position: relative;
    margin-left: 1em;
    padding-left: 0.8em;
}

.tableofcontents-box ul ul ul > li::before {
    content: counter(level1) "." counter(level2) "." counter(level3) " ";
    position: absolute;
    left: -2em;
    top: -0.4px;
}

#TableOfContents ul {
    margin: 0;
    padding-left: 20px;
}

#TableOfContents li {
    line-height: 28px;
    margin-top: 4px;
    margin-bottom: 4px;
}

/* 中文字体大小 */
ruby > rt {
    margin-top: 7px;
    font-size: 13px !important;
}